<!-- it's a common login page for chairman,watchman and member -->
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="csrf-token" content="iL8hUXsdXy71MbOZjq4fWUv4KGPZnJ7k17P7RClL">
        <link rel="icon" href="https://thememakker.com/templates/oreo/hospital/laravel/public/favicon.ico" type="image/x-icon"> <!-- Favicon-->
        <title>LOGIN - Oero Laravel</title>
        <meta name="description" content="Oero Laravel">
        <meta name="author" content="Oero Laravel">
        
        <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
        <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>




        <link rel="stylesheet" href="{% static 'chairman\assets\plugins\bootstrap\css\bootstrap.min.css' %}">
        
        <!-- Custom Css -->
        <link rel="stylesheet" href="{% static 'chairman\assets\css\main.css' %}">
        <link rel="stylesheet" href="{% static 'chairman\assets\css\authentication.css' %}">
        <link rel="stylesheet" href="{% static 'chairman\assets\css\color_skins.css' %}">
    </head>
    
    
        <body class="theme-cyan authentication sidebar-collapse">

        <nav class="navbar navbar-expand-lg fixed-top navbar-transparent">
            <div class="container">        
                <div class="navbar-translate n_logo">
                    <a class="navbar-brand" title="" target="_blank">Digital Society</a>
                    <button class="navbar-toggler" type="button">
                        <span class="navbar-toggler-bar bar1"></span>
                        <span class="navbar-toggler-bar bar2"></span>
                        <span class="navbar-toggler-bar bar3"></span>
                    </button>
                </div>
                <div class="navbar-collapse">
                    <ul class="navbar-nav">      
                        <li class="nav-item">
                            <a class="nav-link btn btn-white btn-round" href="{% url 'w_register' %}">Watchman Registration</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="page-header">
            <div class="page-header-image" style="background-image:url({% static 'chairman/assets/images/bglogin.gif' %})"></div>

                <div class="container">
        <div class="col-md-12 content-center">
            <div class="card-plain">

                <!-- when signin button is clicked,form action is done,redirected to  login-evaluate(url)  -->
                <form action="{% url 'c_login-evaluate' %}" class="form" method="POST" >
                    {% csrf_token %}  
                    <!-- full form : Cross Site Request Forgery -->
                    <div class="header">
                        <div class="logo-container">
                            <img src="{% static 'chairman\assets\images\logo.svg' %}" alt="">
                        </div>

                        <!-- wrong email/password alert -->
                        {% if e_msg %}
                        <div class="alert alert-danger" role="alert">
                            {{ e_msg }}
                          </div>
                        {% endif %}

                        <!-- Successfully changed password alert -->
                        {% if s_msg %}
                        <div class="alert alert-success" role="alert">
                            {{ s_msg }}  
                        </div>
                        {% endif %}

                        <h5>Login</h5>
                    </div>
                    
                    
                    <div class="content">    
                        
                        <div class="form-group lg">
                            <select class="form-control form-control-lg" id="roleID" style="background-color:rgb(44, 207, 207);" name="role" required>
                                <option disabled selected hidden>Choose Role</option>
                                <option style="color:black;background-color:white;font-size: 20px;" value="Chairman">Chairman</option>
                                <option style="color:black;background-color:white;font-size: 20px;" value="Member">Member</option>
                                <option style="color:black;background-color:white;font-size: 20px;" value="Watchman">Watchman</option>
                            </select>   
                        
                        </div>                                            
                        <div class="input-group input-lg" >
                            <input type="email" class="form-control" name='email' id="myemail" placeholder="Enter Your Email-ID" style="background-color:rgb(44, 207, 207);" required>
                            <span style="background-color:rgb(44, 207, 207);" class="input-group-addon">
                                <i class="zmdi zmdi-email"></i>
                            </span>
                        </div>
                        <div class="input-group input-lg">
                            <span>
                       <small> <span style="color:red" id="msgid"></span></small>
                       </span>
                       </div>
                        
                        <div class="input-group input-lg">
                            <input type="password" style="background-color:rgb(44, 207, 207);" name='password' id="myPassword" placeholder="Password" class="form-control">
                            <span style="background-color:rgb(44, 207, 207);" class="input-group-addon">
                                <i class="zmdi zmdi-eye-off"  id="showPassword" onclick="myFunction()"></i>
                            </span>
                        </div>

                    </div>
                
                    <div class="footer text-center">
                        <input type="submit" class="btn btn-primary btn-round btn-lg btn-block" value='LOGIN'>
                        <h5><a href="{% url 'c_forgot-password' %}" class="link">Forgot Password?</a></h5>
                    </div>
                </form>
            </div>
        </div>
    </div>


            <footer class="footer">
                <div class="container">
                    <nav>
                       
                    </nav>
                    <div class="copyright">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>,
                        <span>Developed by: <a target="_blank"> Pinal Korat</a></span>
                    </div>
                </div>
            </footer>
            
        </div>

        <!-- Scripts -->

        <!--  start password visible/notvisible query -->
           <script>
            function myFunction() {
              var x = document.getElementById("myPassword");
              if (x.type === "password") 
              {
                x.type = "text";
                document.getElementById('showPassword').className = 'zmdi zmdi-eye';
              } 
              else 
              {
                x.type = "password";
                document.getElementById('showPassword').className = 'zmdi zmdi-eye-off';
              }
            }
            </script>
        <!--  end password visible/notvisible query -->


        <!-- start Right Click Disable using react -->
        <script> document.addEventListener('contextmenu', event => event.preventDefault());</script>
        <!-- end Right Click Disable using react -->


        <script src="{% static 'chairman\assets\bundles\libscripts.bundle.js' %}"></script>    
        <script src="{% static 'chairman\assets\bundles\vendorscripts.bundle.js' %}"></script>
        {% include 'chairman/ajaxfile.html' %}    
    </body>
</html>
