{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="csrf-token" content="iL8hUXsdXy71MbOZjq4fWUv4KGPZnJ7k17P7RClL">
        <link rel="icon" href="https://thememakker.com/templates/oreo/hospital/laravel/public/favicon.ico" type="image/x-icon"> <!-- Favicon-->
        <title>Forgot Password - Oero Laravel</title>
        <meta name="description" content="Oero Laravel">
        <meta name="author" content="Oero Laravel">
        
        
        
        <link rel="stylesheet" href="{% static 'chairman\assets\plugins\bootstrap\css\bootstrap.min.css' %}">
        
        <!-- Custom Css -->
        <link rel="stylesheet" href="{% static 'chairman\assets\css\main.css' %}">
        <link rel="stylesheet" href="{% static 'chairman\assets\css\authentication.css' %}">
        <link rel="stylesheet" href="{% static 'chairman\assets\css\color_skins.css' %}">

        
    </head>
    
    
        <body class="theme-cyan authentication sidebar-collapse">

        <nav class="navbar navbar-expand-lg fixed-top navbar-transparent">
            <div class="container">        
                <div class="navbar-translate n_logo">
                    <a class="navbar-brand"  title="" target="_blank">Digital Society</a>
                    <button class="navbar-toggler" type="button">
                        <span class="navbar-toggler-bar bar1"></span>
                        <span class="navbar-toggler-bar bar2"></span>
                        <span class="navbar-toggler-bar bar3"></span>
                    </button>
                </div>
                <div class="navbar-collapse">
                    
                </div>
            </div>
        </nav>

        <div class="page-header">
            <div class="page-header-image" style="background-image:url({% static 'chairman/assets/images/bglogin.gif' %})"></div>

                <div class="container">
        <div class="col-md-12 content-center">
            <div class="card-plain">

                <!-- when signin button is clicked,form action is done,redirected to  login-evaluate(url)  -->
                <form action="{% url 'c_send-otp' %}" class="form" method="POST" >
                    {% csrf_token %}  
                    <!-- full form : Cross Site Request Forgery -->
                    <div class="header">
                        <div class="logo-container">
                            <img src="{% static 'chairman\assets\images\logo.svg' %}" alt="">
                        </div>

                        <!-- wrong email/password alert -->
                        {% if e_msg %}
                        <div class="alert alert-danger" role="alert">
                            {{ e_msg }}
                          </div>
                        {% endif %}

                        <h5>Forgot Password</h5>
                    </div>
                    <div class="content">                                                
                        <div class="input-group input-lg">
                            <input type="text" class="form-control" name='email' style="background-color:rgb(44, 207, 207);" placeholder="Enter Your Email-ID">
                            <span style="background-color:rgb(44, 207, 207);" class="input-group-addon">
                                <i class="zmdi zmdi-email"></i>
                            </span>
                        </div>
                        
                    </div>
                    <div class="footer text-center">
                        <input type="submit" class="btn btn-primary btn-round btn-lg btn-block" value='SEND OTP'>
                        <h5><a href="{% url 'c_login-page' %}" class="link">Click Here to Login</a></h5>
                    </div>
                </form>
            </div>
        </div>
    </div>


            <footer class="footer">
                <div class="container">
                    
                    <div class="copyright">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>,
                        <span>Developed by: <a  target="_blank">Pinal Korat</a></span>
                    </div>
                </div>
            </footer>
            
        </div>

        <!-- Scripts -->
        <script src="{% static 'chairman\assets\bundles\libscripts.bundle.js' %}"></script>    
        <script src="{% static 'chairman\assets\bundles\vendorscripts.bundle.js' %}"></script>
                
    </body>
</html>
