{% extends 'watchman/index.html' %}
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="csrf-token" content="iL8hUXsdXy71MbOZjq4fWUv4KGPZnJ7k17P7RClL">
        <link rel="icon" href="https://thememakker.com/templates/oreo/hospital/laravel/public/favicon.ico" type="image/x-icon"> <!-- Favicon-->
        <title>Profile - Digital Society</title>
        <meta name="description" content="Oero Laravel">
        <meta name="author" content="Oero Laravel">
                
        {% block cssextra %}      
        <link rel="stylesheet" href="{% static 'watchman\assets\plugins\bootstrap\css\bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'watchman\assets\css\timeline.css' %}">
                <!-- Custom Css -->
        <link rel="stylesheet" href="{% static 'watchman\assets\css\main.css' %}">
        <link rel="stylesheet" href="{% static 'watchman\assets\css\color_skins.css' %}">
        {% endblock %}
    </head>
        <body class="theme-cyan">
        <!-- Page Loader -->
        <div class="page-loader-wrapper">
            <div class="loader">
                <div class="m-t-30"><img class="zmdi-hc-spin" src="{% static 'watchman\assets\images\logo.svg' %}" width="48" height="48" alt="Oreo"></div>
                <p>Please wait...</p>        
            </div>
        </div>
             <!-- Chat-launcher -->
<div class="chat-launcher"></div>
        {% block content %}  
        <section class="content home">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>Profile <small class="text-muted">Welcome to Digital Society</small></h2>
                    </div>            
                    <div class="col-lg-7 col-md-7 col-sm-12 text-right">
                        
                        
                            
                        
                        <ul class="breadcrumb float-md-right">
                            <li class="breadcrumb-item"><a href="{% url 'w_index' %}"><i class="zmdi zmdi-home"></i> Home</a></li>
                                                                                        <li class="breadcrumb-item active">Profile</li>
                                                    </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid">                
                
    <div class="row clearfix profile-page">
        <div class="col-lg-4 col-md-12">
            <div class="card profile-header">
                <div class="body text-center">
                    <div class="profile-image"> <img src="{{context.wid.profile_pic.url}}" alt=""> </div>
                    <div>
                        <h4 class="m-b-0"><strong>{{context.wid.fname}} {{context.wid.lname}}</strong></h4>
                        <span class="job_post">{{context.uid.role}}</span>
                        <span class="job_post">{{context.wid.m_id.contactNo}}</span>
                        <span class="job_post">{{context.wid.user_id.email}}</span>
                        
                    </div>
                    
                </div>                    
            </div>                               
            <div class="card">
                
            </div>
            <div class="card">
                
                <div class="tab-content">
                    <div class="tab-pane body active" id="Followers">
                       
                    </div>
                    <div class="tab-pane body" id="friends">
                        <ul class="new_friend_list list-unstyled row">
                            <li class="col-lg-4 col-md-2 col-sm-6 col-4">
                                <a href="">
                                    <img src="..\assets\images\sm\avatar1.jpg" class="img-thumbnail" alt="User Image">
                                    <h6 class="users_name">Jackson</h6>
                                    <small class="join_date">Today</small>
                                </a>
                            </li>
                            <li class="col-lg-4 col-md-2 col-sm-6 col-4">
                                <a href="">
                                    <img src="..\assets\images\sm\avatar2.jpg" class="img-thumbnail" alt="User Image">
                                    <h6 class="users_name">Aubrey</h6>
                                    <small class="join_date">Yesterday</small>
                                </a>
                            </li>
                            <li class="col-lg-4 col-md-2 col-sm-6 col-4">
                                <a href="">
                                    <img src="..\assets\images\sm\avatar3.jpg" class="img-thumbnail" alt="User Image">
                                    <h6 class="users_name">Oliver</h6>
                                    <small class="join_date">08 Nov</small>
                                </a>
                            </li>
                            <li class="col-lg-4 col-md-2 col-sm-6 col-4">
                                <a href="">
                                    <img src="..\assets\images\sm\avatar4.jpg" class="img-thumbnail" alt="User Image">
                                    <h6 class="users_name">Isabella</h6>
                                    <small class="join_date">12 Dec</small>
                                </a>
                            </li>
                            <li class="col-lg-4 col-md-2 col-sm-6 col-4">
                                <a href="">
                                    <img src="..\assets\images\sm\avatar1.jpg" class="img-thumbnail" alt="User Image">
                                    <h6 class="users_name">Jacob</h6>
                                    <small class="join_date">12 Dec</small>
                                </a>
                            </li>
                            <li class="col-lg-4 col-md-2 col-sm-6 col-4">
                                <a href="">
                                    <img src="..\assets\images\sm\avatar5.jpg" class="img-thumbnail" alt="User Image">
                                    <h6 class="users_name">Matthew</h6>
                                    <small class="join_date">17 Dec</small>
                                </a>
                            </li>                            
                        </ul>
                    </div>                        
                </div>
            </div>                 
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="card">
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#about">My Profile</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Account">Update Profile</a></li>                        
                </ul>
                <div class="tab-content">
                    <div class="tab-pane body active" id="about">
                         
                        <hr>
                        <ul class="list-unstyled">
                            <li>
                                <p><strong>Name:</strong> {{context.wid.fname}} {{context.wid.lname}}</p>
                            </li>
                            
                            <li>
                                <p><strong>Contact No:</strong> {{context.wid.contact_no}}</p>
                            </li>
                            <li>
                                <p><strong>Email ID:</strong> {{context.wid.user_id.email}}</p>
                            </li>
                            <li>
                                <p><strong>Address:</strong> {{context.wid.address}}</p>
                            </li>
                           
                            <li>
                                <p><strong>Blood-Group:</strong> {{context.wid.bloodgroup}}</p>
                            </li>
                            
                        </ul>
                      
                        <hr>
                        
                    </div>

                    
                    <div class="tab-pane body" id="Account">
                        <form action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control" name='fname' value="{{context.wid.fname}}">
                        <div class="form-group">
                            <input type="text" class="form-control" name='lname' value="{{context.wid.lname}}">
                        
                        <div class="form-group">
                            <input type="email" class="form-control" value="{{context.uid.email}}" name='email' readonly>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name='currentPassword' value="{{context.uid.password}}" readonly>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name='newPassword' placeholder="New Password">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" name='address' placeholder="Address" value='{{context.wid.address}}'>
                        </div>
                        
                        
                        <div class="row clearfix">
                            
                            
                            <div class="col-lg-4 col-md-8">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Contact Number" name='contactNo' value="{{context.wid.contact_no}}">
                                </div>
                            </div>
                                                               
                            
                            <div class="col-lg-8 col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Blood-Group" name='bloodgroup' value="{{context.wid.bloodgroup}}">
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-12">
                                <div class="form-group">
                                    <input type="file" class="form-control" placeholder="Profile Picture" name='profilePic'>
                                </div>
                            </div>
                           
                            <div class="col-md-12">
                                <button class="btn btn-primary btn-round">Save Changes</button>
                            </div>
                        </form>
                        </div>
                      
                    </div>                        
                </div>
            </div>
            <div class="card">
               
                <div class="body user_activity">
                    
                    </div>
                </div>
            </div>               
        </div>
    </div>

            </div>
        </section>
        {% endblock %}

        {% block javascript %}
                <!-- Scripts -->
        <script src="{% static 'watchman\assets\bundles\libscripts.bundle.js' %}"></script>    
        <script src="{% static 'watchman\assets\bundles\vendorscripts.bundle.js' %}"></script>

        <script src="{% static 'watchman\assets\bundles\mainscripts.bundle.js' %}"></script>
        <script src="{% static 'watchman\assets\bundles\knob.bundle.js' %}"></script>
        <script src="{% static 'watchman\assets\js\pages\charts\jquery-knob.js' %}"></script>
				
        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/59f5afbbbb0c3f433d4c5c4c/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
        })();
        </script>

        {% endblock %}
        <!--End of Tawk.to Script-->
    </body>
</html>